<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib: 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Madlibs/Assets/styles.css">
  </head>
  <body>
  <div class="container">
    <h1>Fill in the blanks to create a fun story!</h1>
    <form action="/yourmadlib2" method="post">
    <label for="dayOfWeek">Day of the Week</label>
    <input id="dayOfWeek" name="dayOfWeek" type="text">
    <label for="name">Person's Name</label>
    <input id="name" name="name" type="text">
    <label for="carModel">Type of Car</label>
    <input id="carModel" name="carModel" type="text">
    <label for="weatherAdjective">Weather Adjective</label>
    <input id="weatherAdjective" name="weatherAdjective" type="text">
    <label for="emotion">Emotion</label>
    <input id="emotion" name="emotion" type="text">
    <label for="nounOne">Noun</label>
    <input id="nounOne" name="nounOne" type="text">
    <label for="nounTwo">Noun</label>
    <input id="nounTwo" name="nounTwo" type="text">
    <label for="verbOne">Verb</label>
    <input id="verbOne" name="verbOne" type="text">
    <label for="adjectiveOne">Adjective</label>
    <input id="adjectiveOne" name="adjectiveOne" type="text">
    <label for="nounThree">Noun</label>
    <input id="nounThree" name="nounThree" type="text">
    <label for="verbTwo">Verb</label>
    <input id="verbTwo" name="verbTwo" type="text">
    <label for="adverb">Adverb</label>
    <input id="adverb" name="adverb" type="text">
    <label for="adjectiveTwo">Adjective</label>
    <input id="adjectiveTwo" name="adjectiveTwo" type="text">
    <label for="ingVerb">Verb Ending in -ing</label>
    <input id="ingVerb" name="ingVerb" type="text">
    <label for="nounFour">Noun</label>
    <input id="nounFour" name="nounFour" type="text">
    <button type="submit">Go!</button>
    </form>
  </div>
  </body>
</html>