<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib: 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
  
  </head>
  <body>
  <style>
  body {
    font-family: 'Dosis', sans-serif;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 59%);
  }

  .homeButton {
    float:right;
  }
  </style>
  <div class="container">
    <h1>Fill in the blanks to create a fun *mystery* story!</h1>
    <form action="/yourmadlib" method="post">
    <div class="form-inline" style="margin-bottom:12px">
      <label for="spaceTeamName">Team Name</label>
      <input id="spaceTeamName" class="form-control" style="margin-left: 8px"name="spaceTeamName" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="adverbOne">Adverb</label>
      <input id="adverbOne" class="form-control" style="margin-left: 8px"name="adverbOne" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="pluralNounOne">Plural Noun</label>
      <input id="pluralNounOne" class="form-control" style="margin-left: 8px"name="pluralNounOne" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="adverbTwo">Adverb</label>
      <input id="adverbTwo" class="form-control" style="margin-left: 8px"name="adverbTwo" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="adjectiveOne">Adjective</label>
      <input id="adjectiveOne" class="form-control" style="margin-left: 8px"name="adjectiveOne" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="pluralNounTwo">Plural Noun</label>
      <input id="pluralNounTwo" class="form-control" style="margin-left: 8px"name="pluralNounTwo" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="adjectiveTwo">Adjective</label>
      <input id="adjectiveTwo" style="margin-left: 8px"class="form-control"name="adjectiveTwo" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="verbOne">Verb</label>
      <input id="verbOne" class="form-control"style="margin-left: 8px"name="verbOne" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="nounFormVerb">Noun Form Verb [ex. hesitation, madness, delight]</label>
      <input id="nounFormVerb" class="form-control"style="margin-left: 8px"name="nounFormVerb" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="adjectiveThree">Adjective</label>
      <input id="adjectiveThree" class="form-control"style="margin-left: 8px"name="adjectiveThree" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="pluralNounThree">Plural Noun</label>
      <input id="pluralNounThree" class="form-control"style="margin-left: 8px"name="pluralNounThree" type="text">
    </div>
    <div class="form-inline" style="margin-bottom:12px">
      <label for="fakeDogCountry">Country Name</label>
      <input id="fakeDogCountry" class="form-control"style="margin-left: 8px"name="fakeDogCountry" type="text">
    </div>
    <button class="btn btn-primary"type="submit">Go!</button>
    </form>
    <div class="homeButton">
    <a href="/"><button class="btn btn-primary">Back Home</button></a>
    </div>
  </div>
  </body>
</html>