<!DOCTYPE html>
<html>
<head>
  <title>Hello Friend!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    .container {
      padding:2% 0 2% 0;
    }
    ul {
      list-style-type: none;
    }
    body {
      font-family: 'Dosis', sans-serif;
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 24%, rgba(0,117,255,1) 100%);
    }
    body a {
      color:#fff;
    }
  </style>
  <div class="container">
  <h4>What kind of Madlib would you like to create?</h4>
  <ul>
    <a href="/form"><li>Animals?</li></a>
    <a href="/form2"><li>Cars?</li></a>
  </ul>
  </div>
</body>
</html>